*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  font-size: 16px;
}
html,
body {
  height: 100%;
  background: #fff;
}
body {
  margin: 0;
  font: 100%/1.5 AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", sans-serif;
  background: inherit;
  color: #111;
  min-height: 100%;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
// audio, canvas, progress, video { display: inline-block; }
// audio:not([controls]) { display: none; height: 0; }
// [hidden], template { display: none; }
header,
footer {
  text-align: center;
}
a {
  background: transparent;
  color: #005e80;
  text-decoration: none;
  transition: all .3s;
}

a:active,
a:hover {
  outline: 0;
  color: #0083b3;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.pin-tag {
  text-decoration: none;
  display: inline-block;
  margin: .5em .25em 1em;
  padding: .5em 1em;
  border-radius: 1.2em;
  background-color: #e5f8ff;
  border: 1px solid #b3ebff;
}
.pin-tag:hover {
  // color: #0083be;
  background-color: transparent;
  border-color: #dadada;
}
// abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
// dfn { font-style: italic; }
// mark { background: #ff0; color: #000; }
.pin-tag, small { font-size: 80%; }
// sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
// sup { top: -0.5em; }
// sub { bottom: -0.25em; }
// img,svg { border: 0; max-width: 100%;}
// svg:not(:root) { overflow: hidden; }
// figure { margin: 1em 40px; }
// hr { padding: 1px; border: 1px solid #ccc; box-sizing: content-box; height: 0; }
article,
body {
  max-width: 60em;
  margin: 0 auto 2em;
  padding: 1em 5% 5em;
  // background: hsla(0,0%,100%,.975);
  // border: 1px solid hsla(0,0%,0%,.125);
  // overflow: auto;
}
.wrap {
  overflow: auto;
}
.wrap--script {
  padding-bottom: 12em;
}
// h1, h2, h3, h4, h5, h6 {
//   color: #222;
//   margin: 0;
//   padding: 1rem 0 0;
// }
// h1, h2, h3, .pin-title, h4, h5, h6, b, strong, em, thead th, button {
h1,
.pin-title,
.pin-description::before {
  font-family: AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande","Trebuchet Ms", sans-serif;
  line-height: 1.2;
  font-weight: bold;
}
.pin-title {
  padding: .5em 0;
}
.pin-title,
.pin-description {
  display: inline-block;
}
.pin-description {
  // text-indent: .5em;
  padding-left: .5em;
}
.pin-description::before {
  content: " \2A";
  color: #b30;
  position: relative;
  top: .24em;
  left: -.05em;
  padding-right: .125em;
}
h1 {
  font-size: 1.25rem;
  text-align: right;
}
// h2 {
//   font-size: 2.25rem;
// }
// h3 {
//   font-size: 2rem;
// }
// h4 {
//   font-size: 1.75rem;
// }
// h5 {
//   font-size: 1.5rem;
// }
// h6 {
//   font-size: 1.25rem;
// }
p {
  margin: 0;
  padding: .5em 0;
}
// h3 + p,
// h4 + p {
//   padding-top: 0;
// }
header h1 a {
  color: #222;
}
// strong em {
//   font-family:  AvenirNext-BoldItalic, Avenir-HeavyOblique, Trebuchet-BoldItalic, "Lucida Grande", Corbel,  "Trebuchet Ms", sans-serif;
//   font-weight: bold;
// }
//  pre {
//   background-color: #f8f8f8;
//   border: 1px solid #ddd;
//   font-size: .875rem;
//   line-height: 1.5;
//   overflow: auto;
//   margin: 1em 0;
//   padding: 1rem 1.5rem;
//   border-radius: 3px;
//   word-wrap: normal;
//   white-space: pre-wrap;
// }
// code, kbd, pre, samp { font-family: Consolas, Menlo, Monaco, monospace; }
// code, kbd, samp { font-size: 1em; }
// pre code {
//   margin: 0;
//   padding: 0;
//   background-color: transparent;
//   border: none;
//   word-wrap: normal;
//   max-width: initial;
//   display: inline;
//   overflow: initial;
//   line-height: inherit;
// }
// pre code:before,
// pre code:after {
//   content: normal;
// }
// p code,
// ul code {
//   font-family: Consolas, Menlo, Monaco, monospace;
//   font-size: .875em;
//   margin: 0;
//   border: 1px solid #ddd;
//   background-color: #f8f8f8;
//   border-radius: 3px;
//   padding: 2px 0 0 0;
// }
// p code:before,
// p code:after,
// ul code:before,
// ul code:after {
//   content: "\00a0";
//   letter-spacing: -0.2em;
// }
// ul {
//   padding: 0 .5em;
//   margin: .5em 0 .5em -.45rem;
// }
// ol ul {
//   padding-left: 1.5rem;
// }
// ul li {
//   list-style: none;
//   position: relative;
//   margin-left: -.75em;
//   padding-left: .75em;
// }
// article ul li::before {
//   content: "";
//   position: absolute;
//   top:.55em;left:0;
//   color: #666;
//   padding: 2px;
//   height: 1px;
//   width: 1px;
//   background-color: #3ca555;
//   border: 1px solid #666;
//   border-radius: 50%;
//   display: inline-block;
//   line-height: 1;
//   font-size: 1em;
// }
// ul ol,
// ol ol {
//   margin: .5rem 0 1rem 1.45rem;
// }
// ul li li {
//   margin-left: 0;
// }
// ul ol li {
//   margin-left: -.75rem;
// }
// ul li::before,
// blockquote,
// hr,
// pre {
//   box-shadow: 1px 1px 0 hsla(0,0%,0%,.125);
// }
// blockquote {
//   border-left: .5em solid #ccc;
//   padding: .75em 1.5em;
//   margin: 1em;
//   background-color: #f7f7f7;
//   color: #666;
//   font-family: AvenirNext-Italic, Avenir-Oblique, AvenirMedium-Oblique, serif;
//   font-style: italic;
// }
//
/* http://atelierbram.github.com/typeface-tester/ */
i {
  font-family:  AvenirNext-Italic, Avenir-Oblique, TrebuchetMS-Italic, "Lucida Grande", Corbel,  "Trebuchet Ms", sans-serif;
  font-style: italic;
}
// button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
// button, select { text-transform: none; }
// button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
// button {
//   -webkit-appearance: none;
//   overflow: visible;
//   border-radius: 4px;
//   background-clip: padding-box;
//   background-image: linear-gradient(to bottom, white, #ddd);
//   border: 1px solid;
//   border-color: #ddd #bbb #999;
//   cursor: pointer;
//   color: #333;
//   display: inline-block;
//   outline: 0;
//   overflow: visible;
//   margin: 0 0 .5em .75em;
//   padding: 1em 2em;
//   text-shadow: white 0 1px 1px;
//   text-decoration: none;
//   vertical-align: top;
//   width: auto;
//   font-size: 16px;
//   line-height: 1.3;
// }
// button:invalid {
//   box-shadow:none;
// }
// button:focus {
//   box-shadow: #06f 0 0 5px 0;
//   z-index: 1;
// }
// button:hover {
//   background-image: linear-gradient(to bottom, white, #eee 1px, #ccc);
//   text-decoration: none;
// }
// button:active {
//   background-image: linear-gradient(to bottom, #ddd, #eee);
//   box-shadow: inset rgba(black, 0.25) 0 1px 2px 0;
//   border-color: #999 #bbb #ddd;
// }
// button[disabled], html input[disabled] { cursor: default; }
// button::-moz-focus-inner, input::-moz-focus-inner, button::-webkit-focus-inner, input::-webkit-focus-inner { border: 0; padding: 0; }
// input { line-height: normal; }
// input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
// input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto;
// }
// input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
// input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
// fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
// legend { border: 0; padding: 0; }
// textarea { overflow: auto; }
// optgroup { font-weight: bold; }
// table {
//   border-collapse: collapse;
//   border-spacing: 0;
//   font-family: Consolas, Menlo, Monaco, monospace;
//   background: #f7f7f7;
// }
// thead {
//   display: table-header-group;
// }
// thead th {
//   border-bottom: 1px solid #999;
//   text-align: right;
//   font-size: 1.125em;
//   text-transform: uppercase;
//   font-weight: bold;
//   background: #ddd;
// }
// thead th:nth-of-type(1) {
//   text-align: left;
// }
// th, td {
//   padding: .5em 1em;
// }
// /* zebra stripes */
// tr:nth-of-type(even) {
//   background: rgba(0,0,0,.125);
// }
// .clearfix:before,
// .clearfix:after {
//     content: " ";
//     display: table;
// }
// .clearfix:after,
// .clear {
//     clear: both;
// }
@media (min-width: 768px) {
  article,
  body {
    max-width: 50em;
  }
  // h1 {
  //   font-size: 2.75rem;
  // }
  // h2 {
  //   font-size: 2.5rem;
  // }
  // h3 {
  //   font-size: 2.25rem;
  // }
  h1 {
    font-size: 2rem;
  }
  .pin-title,
  h5 {
    font-size: 1.75rem;
  }
  // h6 {
  //   font-size: 1.5rem;
  // }
  p {
    font-size: 1.25rem;
  }
  // li {
  //   font-size: 1.25rem;
  // }
  // li li {
  //   font-size: 1rem;
  // }
}

